{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "strict": 0,
    "array-bracket-spacing":["error", "never"],
    "block-spacing":["warn", "never"],
    "brace-style":["warn","stroustrup", { "allowSingleLine": true }],
    "capitalized-comments": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "comma-spacing":["error", { "before": false, "after": true }],
    "comma-style": ["error", "last"],
    "func-call-spacing": ["error", "never"],
    "indent": ["warn", 2],
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing":["warn",{
      "multiLine": {
        "beforeColon": false,
        "afterColon": true
      },
      "align": {
        "beforeColon": true,
        "afterColon": true,
        "on": "colon"
      }
    }]
  },
  "globals": {
    "jasmine": false,
    "describe": false,
    "it": false,
    "beforeEach": false,
    "expect": false,
    "module":false,
    "require":false,
    "document":false,
    "console":false,
    "exports":false
  },
  "extends": ["plugin:react/recommended"]
}