{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-unused-vars": 0,
    "max-len": [0, 70, 2, {"ignoreComments": true}],
    "prop-types": [0],

    "no-console":0,
    "func-names": 0,
    "no-var": 0,
    "func-style": 0,
    "comma-dangle": 0,
    "valid-jsdoc": 0,
    "vars-on-top": 0,
    "complexity": [2, 8],
    "prefer-template": 0
  },
  "globals": {
    "jasmine": false,
    "describe": false,
    "it": false,
    "beforeEach": false,
    "expect": false,
    "module":false,
    "require":false,
    "document":false,
    "console":false,
    "exports":false
  },
  "extends": ["plugin:react/recommended"]
}