@import './app-header-button';

/**
 * The application header style rules represent the header, overlay, and global navigation links
 *
 * 1) Rules are to written for mobile first
 * 2) Rules should adhere to the Block-Element--Modifier convention
 *
 */

.header {
  background-color: $secondary-white;
  min-height: 5em;

  .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: $secondary-white;
    z-index: 100;

    &.active {
      display: block;
    }
  }

  .app-nav {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    a {
      top: -10em;
      position: relative;
      margin: 0.35em 0;
      padding: 1em 0;
      width: 100vw;
      text-align: center;
      font-size: 2em;
      color: grey;
      text-decoration: none;
    }

    a:hover {
      background-color: $primary-white;
    }
  }
}