@-webkit-keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

.animated-background {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, $primary-grey), color-stop(18%, #dddddd), color-stop(33%, $primary-grey));
  background: -webkit-linear-gradient(left, $primary-grey 8%, #dddddd 18%, $primary-grey 33%);
  background: linear-gradient(to right, $primary-grey 8%, #dddddd 18%, $primary-grey 33%);
  -webkit-background-size: 800px 400px;
  background-size: 800px 400px;
  position: relative;
}

.end{
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}