@import './animation';
@import '../../node_modules/chartist-webpack/dist/scss/chartist.scss';

.chart-container{
  width:100vw;
  height:calc(100vw/2.4);
  background: #fff;

  & > div{
    display:none;
    @extend .animated-background;

    &.end{
      @extend .end;
    }
  }
}

.background-masker {
  background: #fff;
  position: absolute;
}

.background-masker{
  width: auto;
  left: 0;
  right: 0;
  top: 60px;
  height: 8px;
}

.chart-container > div > div:nth-child(1){
  top: 8px;
}

.chart-container > div > div:nth-child(2){
  top: 32px;
}

.chart-container > div > div:nth-child(3){
  top: 48px;
}