$primary-grey: #eee;
$secondary-grey: #d2d2d2;
$tertiary-grey: #666;
$primary-white: #fff;
$secondary-white:#f1f1f1;
$tertiary-white:#f8f8f8;
$secondary-white: #f5f5f5;
$orange: #ffd261;
$yellow: #eae672;
$blue: #23baeb;
$turquoise: #67dbcb;
$green:#75C777;